.container{
   padding: 0 0 1em 0;
   margin-top: .5em;
   width: 270px;
   background-color: var(--cinzaEscuro);
   display: flex;
   flex-direction:column;
   justify-content: space-between; 
}

.capa{
    width: 100%;
}

.container h2, 
.favoritar{
    padding: 0 1.7em;
    
}

.favoritar {
    width: 32px;
    cursor: pointer;
    margin-left: 195px;
}

.link{
    text-decoration: none;
    color: var(--preto);
    text-align: left;
}