.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2.5em;
    background-color: var(--preto);
}

nav {
    display: flex;
}
/* .logo {
    width: auto;  
    height: 0px;   
} */